body {
    overflow-x: hidden !important;
}

.landing-container {
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

h2 {
    font-family: var(--sg-font-heading);
    font-weight: 700;
    font-style: Bold;
    font-size: 2.25rem;
}

.animation-description {
    font-family: var(--sg-font-body);
    font-weight: 400;
    font-style: Regular;
    font-size: 1.25rem;
    color: var(--color-slate);
}

.sub-description {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--oc-black);
    margin-bottom: 0;
}

.data-indicators-section {
    text-align: center;
    background-color: var(--background-color);
    margin: auto;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem 0 var(--shadow-25);
    border-radius: 7%;
    width:80%;
    height: 32.5rem;
}

.section-sub-title {
    font-family: var(--sg-font-heading) !important;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--oc-black);
}

.section-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.data-indicators-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));
    gap: 1.5rem;
    align-items: stretch;
}

.story-card {
    display: flex;
    background-color: var(--oc-white);
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem var(--shadow-10);
    overflow: visible;
    width: 85%;
    margin-top: 0.94rem;
}.community-feed-container {
    width: 100%;
    height: 23.75rem;
    padding: 1.25rem 0.63rem;
    border-radius: 0.94rem;
    font-family: var(--sg-font-body);
    background-color: var(--color-border-grey);
  }

app-improvement-story {
    width: 100%;
}

.main-section {
    margin:  1.88rem 0.5rem;
    h2 {
        font-size: 1.56rem;
    }

    p {
        font-size: 1.06rem;
    }
}

.indicator-section {
    margin-bottom: 3.44rem;
    margin-left: 1.25rem;


    h2 {
        font-size: 1.75rem;
    }

    .indicators {
        margin: 0 7.5rem;
        padding-top: 2.5rem;
    }
}

.line-chart-section{
    width: 100%;
}

.heat-map{
    --bs-gutter-x: 0;
    margin-left: 0;
    margin-right: 0;

    app-heat-map{
        width: 100%;
    }
}

.black{
    color: var(--oc-black);
}
.indicators-section .row {
    justify-content: center !important;
}

.community-section{
    width: 83%;
}



@media (max-width: 48rem) {
    .main-section {
        margin: 1.25rem;
        h2 {
            font-size: 1rem;
            margin-bottom: 1.13rem;
        }

        p {
            font-size: 0.88rem;
        }
    }

    .indicator-section {
        margin: 1.25rem 0 0 1.25rem;
        h2 {
            font-size: 1.38rem;
            margin-left: 0.63rem;
        }

        .indicators {
            margin: 0 0;
            padding-top: 0;
        }
    }

    .heat-map{
        margin: 0;
    }

    .line-chart-section{
        margin: 1.25rem 0 3rem 0;
    }

        .box-shadow {
            box-shadow: 0 0 0 0 var(--shadow-25);
            border-radius: 0%;
            width:90%;
            height: auto;
        }

        .width-spacing{
            width: 90%;

        }

        .story-card{
            width: 80%;
            margin: 0 2.19rem 0 1.25rem;
        }

        .community-section .box-shadow{
            width: 100%;
        }

        .community-section .section-title{
            margin-left: -1.5rem;
        }

        .community-spacing{
            margin-left: -2.38rem;
        }

        .section-heading {
            margin-left: 0.63rem;
            margin-top: 2rem;
        }

        .mitra-text{
            padding: 0.63rem;
        }

        .story-week-title {
            margin-left: 1rem;
        }
}

.mitra-text{
  display: block;
  text-align: center;
  margin-top: 1.25rem;
  font-size: 1rem;
}
