.chart-card {
  min-width: 18.75rem;
  margin: 0 auto;
  margin-top: 2rem;
}

mat-card-title {
 padding-top: 2rem;
 padding-left: 2rem;
 font-weight: 700;
 font-size: 1rem;
 margin-bottom: 1rem;
 text-align: center;
}

mat-card {
  border-radius: 2rem;
}

.year-buttons {
  display: flex;
  justify-content: center;
  gap: 0.63rem;
  margin: 0.63rem 0;
}

::ng-deep .chart-legend {
  width: max-content !important;
  background: none !important;
}
::ng-deep .legend-labels {
  width: max-content !important;
  background: none !important;
}


.chart-card mat-card-content {
  /* Padding around the chart */
  padding: 1.25rem !important;
}

.outer-container {
  width: 90%;
}

/* Style for chart labels to improve readability */
::ng-deep .pie-label {
  font-size: 0.75rem !important;
  fill: var(--oc-black) !important;
  font-weight: bold;
}

/* Style for tooltips with increased padding */
::ng-deep .ngx-charts-tooltip {
  padding: 0.75rem !important; /* Increased padding for tooltips */
  font-size: 0.88rem !important;
  background: var(--color-ink-600) !important;
  color: var(--oc-white) !important;
  border-radius: 0.25rem !important;
}

/* Alternative selector for tooltip in case ::ng-deep fails */
:host ::ng-deep .ngx-charts-tooltip-content {
  padding: 0.75rem !important;
  font-size: 0.88rem !important;
  background: var(--color-ink-600) !important;
  color: var(--oc-white) !important;
  border-radius: 0.25rem !important;
}

.donut-chart {
  width: 100%;
  height: 25rem;
}


@media (max-width: 48rem) {
  .chart-card {
    overflow-x: scroll;
  }
  .outer-container {
  width: 100%;
}

mat-card-title {
 padding-top: 1rem;
 padding-left: 1rem;
 font-weight: 700;
 font-size: 1rem;
 margin-bottom: 0rem;
 text-align: left;
}

.chart-card mat-card-content {
  /* Padding around the chart */
  padding: 0 0  1.25rem 0 !important;
}
}
